<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About VConnect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .image-full{
            height: 100vh;
            width: 100%;
            object-fit: cover;
            align-items: center;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen bg-gray-50 text-gray-800">
    <header class="bg-white shadow fixed-top" style="opacity: 0.9;">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
          <h1 class="text-2xl font-bold text-rose-600">VConnect</h1>
          <nav class="space-x-4">
            <a href="/landing" class="text-gray-700 hover:text-rose-600">Home</a>
            <a href="/events" class="text-gray-700 hover:text-rose-600">Events</a>
            <a href="/login" class="bg-rose-600 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded-lg hover:rounded">Sign In</a>
          </nav>
        </div>
    </header>
    <div class="image d-flex align-items-center justify-content-center">
        <img class="image-full align-items-center mt-5" src="https://edu.ieee.org/in-vnrvjiet/wp-content/uploads/sites/764/vnr-1024x448.jpg" alt="VNR-PICS">
    </div>
    <br>
    <h1 class="text-4xl font-bold align-items-center mx-auto my-4 text-rose-600">About Us</h1>
    <div class="container text mx-auto my-auto text-rose-900">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem vero debitis iure laborum nisi veritatis, at pariatur accusamus maiores voluptatum tempora porro suscipit officiis error quod quas, reiciendis necessitatibus mollitia?</p>
        <p class="my-3">laudantium distinctio a fugiat perferendis quae deleniti autem? Similique officiis quos perferendis doloribus ipsam eligendi? Blanditiis aperiam consequatur quae harum, laudantium ad molestias libero quo qui voluptate id corporis vel. A adipisci quisquam soluta, quasi id, atque, mollitia sed quod repellat dolorem officiis est neque error! Nostrum quod veniam, minima sed pariatur temporibus eum qui dicta. Ea cum impedit suscipit distinctio, a voluptatibus illo alias consectetur eos. Porro a aliquid saepe fuga dolore veritatis cupiditate perspiciatis dolorum id, ad vel! Dolor minima ducimus expedita! Obcaecati mollitia odit quis omnis laborum, minus dolorum tempora optio non quidem ipsum sit excepturi odio aperiam tenetur rerum?</p>
    </div>
    <h1 class="text-4xl font-bold align-items-center mx-auto my-4 text-rose-600">VNRVJIET</h1>
        <div class="container text mx-auto my-auto text-rose-900">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptatum sapiente neque eos, fugit alias sint aspernatur nam culpa tempora. Odio explicabo adipisci magnam at. Quisquam expedita magnam iste hic.</p>
            <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, debitis. Lorem ipsum dolor sit amet coluptate. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, similique facilis. Labore et facere optio est placeat quae sint incidunt.</p>
        </div>
        <div class="features">
            <div class="container1">
                <p>something</p>
            </div>
            <div class="container2">
                <p>something2</p>
            </div>
        </div>
    </div>
    <footer>
        
    </footer>    
</body>
</html>