<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student's Dashboard</title>
</head>
<body>
    <navbar>
        <h3>Dashboard</h3>
        <button>Logout</button>
    </navbar>
    <div class="nav">
        <a>Home</a>
        <a></a>
    </div>
    <div class="registered">

    </div>
    <div class="attended">

    </div>
    <div class="badges">

    </div>
    <div class="certificates">

    </div>
</body>
</html>